/* Ocean by Chris Kempson (http://chriskempson.com) */

:root {
  --base00: #222731;
  --base01: #313941;
  --base02: #45515b;
  --base03: #65737e;
  --base04: #a7adba;
  --base05: #c0c5ce;
  --base06: #dfe1e8;
  --base07: #eff1f5;
  --base08: #bf616a;
  --base09: #eea47f;
  --base0A: #ebcb8b;
  --base0B: #a3be8c;
  --base0C: #96b5b4;
  --base0D: #88c3c1;
  --base0E: #b48ead;
  --base0F: #ab7967;
}