$background-color: #FDFDFD;

// Media query sizes
$on-tablet: 600px;
$on-desktop: 900px;
$on-desktop-l: 1200px;
$on-desktop-xl: 1800px;

// Gradient colors
$base-color: #5A7BFF;
$gradient-left: #9270FF;
$gradient-right: #B752FF;
$secondary-color: #DD33FF;


:root {
    --main-font-family: Georgia, serif;
    --accent-font-family: "Montserrat Web", Helvetica, Arial, sans-serif;
    --base-font-size: 16px;
    --base-font-weight: 300;
    --base-line-height: 1.614;

    --base-text-color: #333333;
    --base-text-accent-color: #555555;

    --base-padding-side: 1em;
    --base-border-radius: 5px;

    --content-width: 90%;
    --content-max-width: 1100px;
}