<header class="masthead">
    <ul class="masthead-nav">
        <a class="masthead-link {% if page.url == '/who/' %}masthead-isActive{% endif %}" href="{{site.baseurl}}/who"><li>Who</li></a>
        <a class="masthead-link {% if page.url == '/what/' %}masthead-isActive{% endif %}" href="{{site.baseurl}}/what"><li>What</li></a>
        <a class="masthead-link {% if page.url == '/' %}masthead-isActive{% endif %}" href="{{site.baseurl}}/">
            <li><img height="60px" src="{{site.baseurl}}/Images/Interweaved.png"></li>
        </a>
        <a class="masthead-link {% if page.url == '/where/' %}masthead-isActive{% endif %}" href="{{site.baseurl}}/where"><li>Where</li></a>
        <a class="masthead-link {% if page.url == '/why/' %}masthead-isActive{% endif %}" href="{{site.baseurl}}/why"><li>Why</li></a>
    </ul>
</header>
