<script>
function castParallax() {
  window.addEventListener("scroll", function(event){

    var top = this.pageYOffset;

    var hero = document.querySelector('.hero');

    // SPEED: 0 = fixed, 0 < x < 1 = % of regular speed, 1 = regular scroll
    var speed = .45;

    if (top >=0 && top <= (300)){
      hero.setAttribute("style", "background-position: 50% " + (-150 + top * speed) + "px");
      console.log(top + ', ' + (-150 + top * speed));
    }
  });
}

function startSite() {

  var platform = navigator.platform.toLowerCase();
  var userAgent = navigator.userAgent.toLowerCase();

  if ( platform.indexOf('ipad') != -1  ||  platform.indexOf('iphone') != -1 ){
    console.log('Parralax feature is not supported on iDevices');
  } else if (platform.indexOf('win32') != -1 || platform.indexOf('linux') != -1){
    castParallax();
  } else {
    castParallax();
  }
}

document.body.onload = startSite();
</script>