.about {
  @extend %main-wrapper-styles;
  margin: 0 auto;
  max-width: 500px;
}

.id {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 0;

  &-img {
    border-radius: 120px;
    margin-bottom: 1em;
    filter: grayscale(100%);

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   right: 0;
    //   left: 0;
    //   background-image: linear-gradient(to bottom right, $base-color, $secondary-color);
    //   opacity: .5;
    // }
  }

  &-name {
    margin-bottom: .25rem;
  }
}

.feature {
  // display: flex;
  align-items: flex-start;
  padding-top: 3em;

  &-div {
    @media(min-width: $on-tablet){
      padding-left: 2em;
    }
  }

  &--reversed {
    @extend .feature;
    flex-direction: row-reverse;

    .feature-div {
      @media (min-width: $on-tablet){
        padding: 0 2em 0 0;
      }
    }
  }

  &-image {
    display: none;

    @media (min-width: $on-tablet){ display: initial;}
  }
}
