.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem auto 0;
  max-width: 1000px;

  &-wrapper {
    &:nth-of-type(even){
      background-color: lighten($base-color, 30%);
      // background-image: linear-gradient(193deg, white, lighten($secondary-color, 38%) 65%);
    }

    // &:nth-of-type(even){ background-image: linear-gradient(167deg, white, lighten($base-color, 30%) 65%);}
  }

  &-heading {
    position: relative;
    margin-bottom: 1.3rem;
    // text-shadow: -1px 1px #aaa, -2px 2px #aaa, -3px 3px #aaa, -4px 4px #aaa, -5px 5px #aaa, -6px 6px #aaa, -7px 7px #aaa, -8px 8px #aaa, -9px 9px #aaa, -10px 10px #aaa, -11px 11px #aaa, -12px 12px #aaa, -13px 13px #aaa, -14px 14px #aaa, -15px 15px #aaa, -16px 16px #aaa, -17px 17px #aaa, -18px 18px #aaa, -19px 19px #aaa, -20px 20px #aaa, -21px 21px #aaa, -22px 22px #aaa, -23px 23px #aaa, -24px 24px #aaa, -25px 25px #aaa, -26px 26px #aaa, -27px 27px #aaa, -28px 28px #aaa, -29px 29px #aaa, -30px 30px #aaa, -31px 31px #aaa, -32px 32px #aaa, -33px 33px #aaa, -34px 34px #aaa, -35px 35px #aaa, -36px 36px #aaa




    // &::before {
    //   content: '';
    //   position: absolute;
    //   background-color: #DDD;
    //   width: 100%;
    //   height: 1px;
    //   left: 0;
    //   z-index: -1;
    //   top: 50%;}

    // span {
    //   background-color: #FFF;
    //   padding: 1px 8px 3px;
    //   position: relative;
    //   z-index: 1;}
  }

  img {
    @include castShadow($fade: .07);
    max-height: 320px;
    margin-bottom: 1.3rem;
    max-width: 100%;

    @media (min-width: $on-tablet){ max-width: 47%;}
    }
}