.masthead {
  padding: 20px 0 0;

  .hero & {
    padding-bottom: 20px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1), transparent);
    background: linear-gradient(rgba(0, 0, 0, 1), transparent);}

  &-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    list-style: none;
    max-width: $content-max-width;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    width: 100%;
    padding: 0;}

  &-link {
    border: 2px solid transparent;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 10px;
    color: $base-color;
    padding: 0 15px;
    line-height: 35px;

    &:visited { color: $base-color;}

    &.disabled,
    &.disabled:hover {
      color: #999999;
      text-decoration: line-through;
      cursor: not-allowed;
    }

  }

  &-isActive {
    background-color: rgba($base-color, .18);
    border-color: transparent;
    background-clip: padding-box;}

  &-link--logo {
    padding: 11px 12px;
    // width: 55px;
    // height: 80px;
    // background-image: url('/images/Interweaved.png');
    background-size: auto 60px;
    background-position: center;
    background-repeat: no-repeat;

    // &.disabled { background-image: url('/images/Interweaved-Disabled.png');}

    &.masthead-isActive {
      background-color: rgba($base-color, .18);}
    }

    img {
      vertical-align: middle;
    }

  // &-link { color: $base-color;}

  // &-link:nth-of-type(1) {
  //   color: $base-color;}

  // &-link:nth-of-type(2) {
  //   color: $gradient-left;}

  // &-link:nth-of-type(4) {
  //   color: $gradient-right;}

  // &-link:nth-of-type(5) {
  // color: $secondary-color;}
}

@media screen and (min-width: $on-tablet){
  .masthead{
    &-nav {
      width: 100%;}

    &-link:hover {
      border-color: rgba($base-color, .5);}
  }
}
