.masthead {
	padding: 20px 0 0;

	&.colorbar {
		padding-bottom: 20px;
		background-color: #FFF;
	}

	.hero & {
		padding-bottom: 70px;
		@include easeGradientTransparentAtBottom(#000, .8);}

	&-nav {
		justify-content: center;
		margin: 0 auto;
		list-style: none;
		max-width: $content-max-width;
		display: flex;
		height: 64px;
		width: 100%;
		padding: 0;
		@media (min-width: $on-tablet){ width: 100%;}
	}

	&-link {
		border: 2px solid transparent;
		font-family: "Montserrat Web", Helvetica, Arial, sans-serif;
		align-self: center;
		border-radius: 8px;
		box-sizing: border-box;
		margin: 0 10px;
		color: $base-color;
		padding: 0 15px;
		line-height: 35px;

		&:visited { color: $base-color;}

		&.disabled,
		&.disabled:hover {
			color: #999999;
			text-decoration: line-through;
			cursor: not-allowed;}

		&:hover {
			@media (min-width: $on-tablet){ border-color: rgba($base-color, .5);}
		}
	}

	&-isActive {
		background-color: rgba($base-color, .18);
		border-color: transparent;
		background-clip: padding-box;}

	&-link--logo {
		padding: 11px 12px;
		background-size: auto 60px;
		background-position: center;
		background-repeat: no-repeat;
		// width: 55px;
		// height: 80px;
		// background-image: url('/images/Interweaved.png');

		&.masthead-isActive { background-color: rgba($base-color, .18);}
	}

	img { vertical-align: middle;}
}// END .masthead

%button {
	border: 2px solid transparent;
	border-radius: 4px;
	padding: 4px 12px;
	line-height: 2em;

	&:hover {
		background-color: $secondary-color;
		border-color: darken($secondary-color, 15%);
		color: #FFF;}

	&:nth-last-child(n+2) { margin-right: .75rem;}
}// END %button

.button {
	@extend %button;
	background-color: $base-color;
	color: #FFF;

	&:visited { color: #FFF;}
}// END .button

.button--hollow {
	@extend %button;
	border-color: $base-color;
	background-color: #FFF;
	color: darken($base-color, 10%);

	&:visited { color: $base-color;}
}// END .button--hollow

.cta {
	text-align: center;
	margin-top: 2rem;}

.about {
	@extend %main-wrapper-styles;
	margin: 2rem auto 3rem;
	max-width: 500px;


	&-copy { padding: 0;}

	&-intro {
		text-align: center;
		margin-top: 4em;
		padding: 0 15px;
		margin-bottom: 0;}

	&-img {
		border-radius: 100%;
		margin-bottom: 1em;
		border: 7px solid #FFF;
		box-shadow: 0 4px 4px rgba(0,0,0,.1), 0 8px 8px rgba(0,0,0,.1), 0 16px 16px rgba(0,0,0,.05);
		@media (min-width: $on-tablet){ border-width: 10px;}
	}

	&-name {
		margin-bottom: .5rem;
		line-height: 2.6rem;
		@media (min-width: $on-tablet){
			margin-bottom: 0;
			line-height: 3rem;}

		br { @media (min-width: $on-tablet){ display: none;}}

			span { @media (min-width: $on-tablet){ display: inline !important;}}
		}

	&-roles {
		margin-bottom: 0;
		padding-bottom: 30px;}
}// END .about

.hero {
	height: 160px;
	background: repeat center/cover;
	padding-bottom: 20px;
	@media (min-width: $on-desktop){ height: 200px;}
	@media (min-width: $on-desktop-l){ height: 280px;}
}// END .hero

.hidden {
	opacity: 0;}

%work-featured {
	border: 7px solid #FFF;
	outline: 1px solid #EAEAEA;
	margin: 0;
	clear: both;
	@media (min-width: $on-tablet){ border-width: 10px;}
}// END %work-featured

.work{
	&-title { margin: 0;}

	&-featured {
		@extend %work-featured;
		height: 35vh;
		background-size: cover;
		background-position: center;

		&--wide {
			@extend %work-featured;
			width: 100%;
			float: left;

			&:last-child { margin-bottom: 2rem;}
		}
	}

	@media (min-width: $on-tablet){
		&-featured {
			float: left;
			clear: none;
			width: 50%;
			height: 25vh;
			min-height: 225px;}
	}
	@media (min-width: $on-desktop){ &-featured { min-height: 290px;}}
	@media (min-width: $on-desktop-l){ &-featured { min-height: 320px;}}
}// END .work

.card {
	padding: 100px 0 5px;
	background: no-repeat top center/auto 100px, no-repeat 50% 102%/auto 100px;
	border-radius: $border-radius;
	overflow: hidden;
	border: 1px solid #888;
	display: inline-block;
	margin-bottom: 20px;
	width: 100%;
	@include castShadow;

	&s {
		@extend %main-wrapper-styles;
		max-width: 1000px;
		margin-top: 2em;
		display: flex;
		align-items: flex-start;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	&-title {
		background-color: #FFF;
		line-height: 2.5rem;
		border-bottom: 1px solid #E7E7E7;
		margin: 0;
		padding: .5rem 15px;
		letter-spacing: -.015em;}

	.badges {
		background-color: #F5F5F5;
		padding: .35rem 0 .6rem;}

	.badge { margin: .25rem .5rem;}

	@media (min-width: $on-tablet) {
		width: 375px;

		.badge {
			text-align: center;
			font-size: .8em;}
	}

	&#mtb { background-image: url('/images/work/MTB/Card.jpg'),url('/images/work/MTB/Card.jpg');}
	&#pmc { background-image: url('/images/work/PMC/Card.jpg'),url('/images/work/PMC/Card.jpg');}
}// END .card

.badge {
	text-align: left;
	margin: 1rem;
	font-size: 1.2rem;

	&s {justify-content: center;} // .badges

	img {
		vertical-align: middle;
		padding-right: .75rem;}

	@media (min-width: $on-tablet){
		text-align: center;
		font-size: 1rem;

		&s { display: flex;}

		img {
			display: block;
			padding: 0;
			margin: 0 auto;}
	}
}// END .badge

.blog {
	background-color: #EAEAEA;
}// END .blog

.listing {
	background: #888 center/cover;
	padding-bottom: 4px;
	margin: 0 0 1em;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #888;
	box-sizing: border-box;
	@include castShadow(.45, .075);

	&s {
		@extend %top-offset-wrapper-styles;
		list-style: none;
		-webkit-column-gap: 15px;
		-moz-column-gap: 15px;
		column-gap: 15px;
		@media (min-width: $on-tablet){ -webkit-column-count: 2; -moz-column-count: 2; column-count: 2;}
		@media (min-width: $on-desktop-l){ margin-bottom: 2em;}
	}

	&:hover h2 { text-decoration: underline;}

	&-link {display: inline-block;}

	h2 {
		margin: 0;
		padding: 0;
		line-height: 54px;
		font-weight: 300;
		color: #FFF;}

	h4 {
		background-color: #FFF;
		margin-bottom: 0;
		line-height: 2.164}

	p {
		padding: 0 1em 12px;
		background-color: #FFF;
		margin: 0;
		color: #333;}
}// END .listing

.post {
	@extend %top-offset-wrapper-styles;
	font-weight: 300;
	box-sizing: border-box;
	padding: 1em 0;
	background-color: #FFFFFF;
	position: relative;
	margin-bottom: 55px;
	border-radius: $border-radius;
	@include castShadow($fade: .1);

	p { padding: 0 $post-text-padding;}

	img { width: 100%;}

	&-return {
		margin: 0 0 1em;
		padding: 0;}

	&-title {
		padding: 0 $post-text-padding;
		margin-bottom: .5rem;
		margin-top: -16px;}

	&-subtitle { padding: 0 $post-text-padding;}

	&-img {
		width: 100%;
		position: relative;
		overflow: hidden;
		background-color: #EEE;
		margin: 1.75em 0;

		&:last-child { padding-bottom: 0;}

		p { margin: 0.1em 0 0.4em;}
	}

	@media (min-width: $on-tablet){
		max-width: 650px;
		padding: 1em 15px 15px;

		p { padding: 0 ($post-text-padding + 5);}

		&-return { margin-bottom: 1em;}

		&-title {
			margin-top: -23px;
			padding: 0 ($post-text-padding + 5);}

		&-subtitle { padding: 0 ($post-text-padding + 5);}

		&-img { border-radius: 5px;}
	}
	@media (min-width: $on-desktop){
		max-width: 710px;
		padding: 1em 30px 30px;}
	@media (min-width: $on-desktop-l){ max-width: 760px;}
}// END .post

// .tag {
// 	border-radius: 5px;
// 	padding: 1px 8px 3px;
// 	cursor: pointer;
// 	color: $base-color;

// 	&:hover {
// 		color: $secondary-color;

// 		&::before { color: $secondary-color;}
// 	}

// 	&::before {
// 		content: '#';
// 		padding-right: 2px;
// 		font-weight: bold;
// 	}

// 	&s {
// 		text-align: center;
// 		line-height: 1.8;}

// 	&-separator {
// 		margin-top: 2.5rem;
// 		text-align: center;
// 		color: #666;
// 		position: relative;
// 		z-index: 1;

// 		&::before {
// 			content: '';
// 			position: absolute;
// 			background-color: #DDD;
// 			width: 100%;
// 			height: 1px;
// 			left: 0;
// 			z-index: -1;
// 			top: 50%;}

// 		span {
// 			background-color: #FFF;
// 			padding: 1px 8px 3px;}
// 	}
// }// END .tag

// .footer {
// 	padding: 2em 0;
// 	font-size: .9em;

// 	&-copy {
// 		color: #aaa;
// 		text-align: center;
// 	}

// 	&-links {
// 		text-align: center;
// 		padding-left: 0;
// 	}

// 	&-link {
// 		padding: .5em .5em;
// 	}
// }// END .footer
