html {
  color: $text-color;}

h1 {
  text-align: center;
  font-weight: 400;}

a,
a:visited {
  color: $base-color;
  transition: color ease-in .2s;
  text-decoration: none;
  cursor: pointer;}

a:hover {
  color: $secondary-color;}
