// TODO: Add Dyslexie font
@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 100;
	src: local('Montserrat Thin'),local('Montserrat-Thin'),url(/fonts/montserrat-100.woff) format('woff')}

@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 200;
	src: local('Montserrat ExtraLight'),local('Montserrat-ExtraLight'),local('Montserrat UltraLight'),local('Montserrat-UltraLight'),url(/fonts/montserrat-200.woff) format('woff')}

@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 300;
	src: local('Montserrat Light'),local('Montserrat-Light'),url(/fonts/montserrat-300.woff) format('woff')}

@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'),local('Montserrat-Regular'),url(/fonts/montserrat-400.woff) format('woff')}

@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 500;
	src: local('Montserrat Medium'),local('Montserrat-Medium'),url(/fonts/montserrat-500.woff) format('woff')}

@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 600;
	src: local('Montserrat SemiBold'),local('Montserrat Semi Bold'),local('Montserrat-SemiBold'),url(/fonts/montserrat-600.woff) format('woff')}

@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 700;
	src: local('Montserrat Bold'),local('Montserrat-Bold'),url(/fonts/montserrat-700.woff) format('woff')}

@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 800;
	src: local('Montserrat ExtraBold'),local('Montserrat-ExtraBold'),local('Montserrat Extra Bold'),url(/fonts/montserrat-800.woff) format('woff')}

@font-face{
	font-family: 'Montserrat Web';
	font-style: normal;
	font-weight: 900;
	src: local('Montserrat Black'),local('Montserrat-Black'),url(/fonts/montserrat-900.woff) format('woff')}

html {
	color: $text-color;
	font-family: Georgia, serif;
	font-weight: $base-font-weight;
	font-size: $base-font-size;

	@media (min-width: $on-tablet){ font-size: $base-font-size + 1;}
	@media (min-width: $on-desktop){ font-size: $base-font-size + 2;}
	@media (min-width: $on-desktop-l){ font-size: $base-font-size + 3;}
	@media (min-width: $on-desktop-xl){ font-size: $base-font-size + 4;}
}

h1 {
	font-weight: 400;
	// font-size: 1.88em;
	font-size: (modularScale(1) + modularScale(2))/2;
	font-family: "Montserrat Web", Helvetica, Arial, sans-serif;
	margin: 0 0 1rem;
	letter-spacing: .035em;
	text-align: center;
	text-transform: uppercase;
	background: -webkit-linear-gradient(90deg, #0a2cb4, #bf00e6 83%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;}

h2 {
	// font-size: 1.375em;
	font-size: modularScale(1);
	font-family: "Montserrat Web", Helvetica, Arial, sans-serif;
	margin: 0 0 .85rem;
	font-weight: 300;
	padding: 0 15px;
	text-align: center;}

h3 {
	// font-size: 1.25em;
	font-size: modularScale(0);
	font-family: "Montserrat Web", Helvetica, Arial, sans-serif;
	margin: 0 0 .55rem;
	font-weight: 600;
	letter-spacing: .025em;
	text-transform: uppercase;}

h4 {
	text-align: center;
	font-family: Georgia, serif;
	font-weight: 300;
	font-style: italic;
	color: $text-accent-color;
	margin: 0 0 1.8125rem;}

p {
	margin-top: 0;
	letter-spacing: -.0075em;
	padding: 0 15px;
	line-height: $base-line-height;}

a,
a:visited {
	color: darken($base-color, 15%);
	text-decoration: none;
	cursor: pointer;}

a:hover {
	color: $secondary-color;}

::selection { background: rgba($secondary-color, .25);}
::-moz-selection { background: rgba($secondary-color, .25);}
