$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * .875;

$text-color: #222222;
$background-color: #FDFDFD;
$brand-color: #2A7AE2;

// Width of the content area
$content-width: 800px;

// Media query sizes
$display-palm: 500px;
$display-tablet: 1024px;
$display-desktop: 1224px;
$display-desktop-xl: 1824px;

$base-color: #6B90FF;
$gradient-left: #9270FF;
$gradient-right: #B752FF;
$secondary-color: #DD33FF;


$header-opacity-fade: .5;
