{{ define "main" }}
<section>
    <h1>Gallery</h1>
    <div class="gallery">
        {{ with resources.Match "images/gallery/*.jpg" -}}
            {{ range . -}}
                {{ $image := .Resize "540x webp q50"}}
                <a href='{{ $image.RelPermalink }}'>
                    <img src="{{$image.RelPermalink}}" style='aspect-ratio: {{.Width}}/{{.Height}};'>
                </a>
            {{- end }}
        {{ else }}
            <p>No gallery images to load.</p>
        {{- end }}
    </div>
</section>
{{ end }}