{{ define "main" }}
    <div class="flex-wrapper">
        <div>
            <h1>{{ .Title }} </h1>
            {{ with .Page.Params.dateString }}
                <h4 id="dateline">{{ . }} </h4>
            {{ end }}
            {{ with .Page.Params.ctaLinks -}}    
                <div class="cta">
                    {{ range . -}}
                    <div><a href="{{ .url }}" class="button{{ if .isHollow }} hollow{{- end }}">{{ .text }}</a></div>
                    {{- end }}
                </div>
            {{- end }}
            {{ with .Page.Params.tags }}
                {{ partial "badges.html" . }}
            {{ end }}
        </div>
    </div>
    {{ with .Page.Params.featuredContent }}
        {{ partial "featuredContent.html" . }}
    {{ end }}
    {{ .Content }}
{{ end }}