---
# Blog Index
layout: blog
journal: index
---
<script>
// PARAMS: wrapper class, children class
var calcWrapperHeight = function(){
  var windowWidth = window.innerWidth;

  if (windowWidth < 600){
    listingsWrapper[0].style.height = 'auto';
  } else if (windowWidth >= 600){
    var totalHeight = 0;

    for (i = 0; i < listings.length; i++){
      totalHeight += listings[i].clientHeight;
    }

    var calculatedHeight = ((totalHeight / 2) + (34 * listings.length)) +"px";
    listingsWrapper[0].style.height = calculatedHeight;
    console.log(calculatedHeight);
  }
};

</script>
<div style='display: none; visibility: hidden; opacity: 0;'>
	<!-- For loading images used as backgrounds in render order-->
	<img src='/images/Shim.png'>
</div>
{% include header-hero.html %}
<main class='listings'>
  {% for post in site.posts %}
    <a class='listing-link' href='{{ site.baseurl }}{{ post.url }}'>
      <figure class='listing' style='background-image: url(/images/blog/{{ post.cardBackground }})'>
        <h2 class='listing-title'>{{ post.title | smartify }}</h2>
          <h4>{{ post.date | date: "%b %-d, %Y" }}</h4>
          <p>{{ post.excerpt | truncatewords:25 }}</p>
      </figure>
    </a>
  {% endfor %}
</main>
<style>
.hero {background-image: url('../images/Sasha-Moody.jpg');}
body { background-color: #DDDDDD;}
</style>
