<style>
    @-webkit-keyframes party-background {
        0%, 100% {background-color: hsl(14, 100%, 94%)}
        10% {background-color: hsl(336, 100%, 94%)}
        20% {background-color: hsl(148, 100%, 94%)}
        30% {background-color: hsl(52, 100%, 94%)}
        40% {background-color: hsl(336, 100%, 94%)}
        50% {background-color: hsl(29, 100%, 94%)}
        60% {background-color: hsl(216, 100%, 94%)}
        70% {background-color: hsl(58, 100%, 94%)}
        80% {background-color: hsl(25, 100%, 94%)}
        90% {background-color: hsl(279, 100%, 94%)}
    }

    @keyframes party-background {
        0%, 100% {background-color: hsl(14, 100%, 94%)}
        10% {background-color: hsl(336, 100%, 94%)}
        20% {background-color: hsl(148, 100%, 94%)}
        30% {background-color: hsl(52, 100%, 94%)}
        40% {background-color: hsl(336, 100%, 94%)}
        50% {background-color: hsl(29, 100%, 94%)}
        60% {background-color: hsl(216, 100%, 94%)}
        70% {background-color: hsl(58, 100%, 94%)}
        80% {background-color: hsl(25, 100%, 94%)}
        90% {background-color: hsl(279, 100%, 94%)}
    }

    @-webkit-keyframes party-color {
        0%, 100% {color: hsl(14, 48%, 33%)}
        10% {color: hsl(336, 48%, 33%)}
        20% {color: hsl(148, 48%, 33%)}
        30% {color: hsl(52, 48%, 33%)}
        40% {color: hsl(336, 48%, 33%)}
        50% {color: hsl(29, 48%, 33%)}
        60% {color: hsl(216, 48%, 33%)}
        70% {color: hsl(58, 48%, 33%)}
        80% {color: hsl(25, 48%, 33%)}
        90% {color: hsl(279, 48%, 33%)}
    }

    @keyframes party-color {
        0%, 100% {color: hsl(14, 48%, 33%)}
        10% {color: hsl(336, 48%, 33%)}
        20% {color: hsl(148, 48%, 33%)}
        30% {color: hsl(52, 48%, 33%)}
        40% {color: hsl(336, 48%, 33%)}
        50% {color: hsl(29, 48%, 33%)}
        60% {color: hsl(216, 48%, 33%)}
        70% {color: hsl(58, 48%, 33%)}
        80% {color: hsl(25, 48%, 33%)}
        90% {color: hsl(279, 48%, 33%)}
    }

    @-webkit-keyframes confetti-1 {
        0% {background-position: 0 0;}
        100% {background-position: 133px 250px;}
    }

    @keyframes confetti-1 {
        0% {background-position: 0 0;}
        100% {background-position: 133px 250px;}
    }

    @-webkit-keyframes confetti-2 {
        0% {background-position: 0 0;}
        100% {background-position: -300px 300px;}
    }

    @keyframes confetti-2 {
        0% {background-position: 0 0;}
        100% {background-position: -300px 300px;}
    }

    * {
        box-sizing: border;}

    html {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;}

    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        background-color: hsl(120, 100%, 94%);
        -webkit-animation: party-background 2500ms infinite;
                animation: party-background 2500ms infinite;
    }

    body::before,
    body::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    body::before {
        z-index:3;
        background-image: url('confetti-1.png');
        background-size: auto 250px;
        -webkit-animation: confetti-1 3000ms linear infinite;
                animation: confetti-1 3000ms linear infinite;
    }

    body::after {
        z-index:7;
        background-image: url('confetti-2.png');
        background-size: 300px;
        -webkit-animation: confetti-2 3000ms linear infinite;
                animation: confetti-2 3000ms linear infinite;
    }

    h1 {
        position: relative;
        bottom: 75px;
        z-index: 5;
        font-size: 3.5em;
        margin: 0;
        text-align: center;
        font-family: "Times New Roman";
        padding: 0 .5em;
        color: hsl(105, 48%, 33%);
        -webkit-animation: party-color 3000ms infinite;
                animation: party-color 3000ms infinite;
    }

    #headingName { display: none;}

    .masthead,
    .flex-wrapper,
    footer {
    display: none;
}
</style>

<h1 id="heading">Happy Birthday<span id='headingName'></span>!</h1>

<script>
    let headingName = document.getElementById('headingName');

    function setHeadingName() {
        var regex = new RegExp('[\\?&]n=([^&#]*)');
        var results = regex.exec(location.search);
        if (results !== null) {
            let name = decodeURIComponent(results[1].replace(/\+/g, ' '))
            headingName.textContent = ` ${name}`;
            headingName.style.display = "initial";
        }
    }

    setHeadingName();
</script>