{{ $rating := .Page.Params.coffeepassport.rating }}
{{ $image := .Page.Params.coffeepassport.image }}
{{ $recommend := .Page.Params.coffeepassport.recommend }}
{{ $hasdecaf := .Page.Params.coffeepassport.hasdecaf }}
{{ $addr_url := .Page.Params.coffeepassport.address.url }}
{{ $addr_street := .Page.Params.coffeepassport.address.street }}
{{ $addr_city := .Page.Params.coffeepassport.address.city }}
{{ $addr_state := .Page.Params.coffeepassport.address.state }}
{{ $addr_zip := .Page.Params.coffeepassport.address.zip }}


<ul>
	<li>Rating: 
	{{ if gt $rating 0 }}★{{else}}☆{{end -}}
	{{- if gt $rating 1 }}★{{else}}☆{{end -}}
	{{- if gt $rating 2 }}★{{else}}☆{{end -}}
	{{- if gt $rating 3 }}★{{else}}☆{{end -}}
	{{- if gt $rating 4 }}★{{else}}☆{{end -}}
	</li>

	{{- if $recommend -}}
	<li>Recommend: {{ $recommend }}</li>
	{{- end -}}

	{{- if eq $hasdecaf "planned" -}}
	<li>Decaf: <span class="decaf-banner planned">Planned</span></li>
	{{ else if $hasdecaf -}}
	<li>Decaf: <span class="decaf-banner">Available!</span></li>
	{{- end -}}

	{{ if $addr_url -}}
	<li><a href="{{ $addr_url }}">{{ $addr_street }}, {{ $addr_city }}</a></li>
	{{- end -}}
</ul>