{{ with .urls }}
</div>
<div class='slick'>
	{{ range . }}
		{{ with resources.GetMatch . }}
			{{ $imageSmall := .Resize (printf "%dx q85" (div .Width 2))}}
			<img src="{{ $imageSmall.RelPermalink }}" srcset="{{ $imageSmall.RelPermalink }} 1x, {{ .RelPermalink }} 2x">
		{{ end }}
	{{ end }}
</div>
<script>
	$(document).ready(function(){
	   $('.slick').slick({
		  autoplaySpeed: 3500,
		  centerMode: true,
		  variableWidth: true,
		  infinite: false,
		  dots: true,
		  arrows: false,
		  slidesToShow: 1,
		  focusOnSelect: true
	   });
	});
</script>
<div class="featured-wrapper">
{{ end }}