{{ $expLimit := 9999 }}
{{ $badgeLimit := 9999 }}
{{ $title := "Experiences"}}
{{ $pages := (where (where .context.Site.RegularPages ".Type" "work") ".Title" "!=" "") }}
{{ $tags := slice }}
{{ with .experienceLimit }} {{ $expLimit = . }} {{ end }}
{{ with .badgeLimit }} {{ $badgeLimit = . }} {{ end }}
{{ with .title }} {{ $title = . }} {{ end }}
{{ with .tags }} {{ $tags = . }} {{ end }}

{{- with $pages }}
    {{ partial "listings.html" (dict "pages" . "limit" $expLimit "title" $title)}}
{{ end -}}