{{ $limit := 9999 }}
{{ $title := "Pages" }}
{{ $pages := .pages }}
{{ with .limit }} {{ $limit = . }} {{ end }}
{{ with .title }} {{ $title = . }} {{ end }}

{{- with first $limit $pages }}
<div class="listings">
    <h3>{{ $title }}</h3>
    {{ with $.badges }} {{/* Provided by calling template */}}
        {{ partial "badges.html" . }}
    {{ end }}
    {{ range . }}
        {{ partial "listing.html" . }}
    {{ end }}
    {{ if (gt (len $pages) $limit) }}
        <a href="/work" class="button hollow">View All</a>
    {{ end }}
</div>
{{ end -}}