{{ $limit := 9999 }}
{{ $title := "Pages" }}
{{ $pages := .pages }}
{{ with .limit }} {{ $limit = . }} {{ end }}
{{ with .title }} {{ $title = . }} {{ end }}

{{- with $pages }}
<div class="listings">
    <h3>{{ $title }}</h3>
    {{ with $.badges }} {{/* Provided by calling template */}}
        {{ partial "badges.html" . }}
    {{ end }}
    {{ $index := 0 }}
    {{ $page := false }}
    {{ range $index, $page := . }}
        {{ $beyondLimit := (ge $index $limit) }}
        {{ partial "listing.html" (dict "page" $page "hidden" $beyondLimit) }}
        {{ $index := (add $index 1) }}
    {{ end }}
    {{ if (gt (len $pages) $limit) }}
        <a id="listings-more" onclick="unhideListings(event)" class="button">View All</a>
    {{ end }}
</div>

{{ end -}}