{{ $limit := 9999 }}
{{ $title := "Experiences"}}
{{ with .limit }} {{ $limit = . }} {{ end }}
{{ with .title }} {{ $title = . }} {{ end }}

{{- with (first $limit (where (where .context.Site.RegularPages ".Type" "work") ".Title" "!=" "")) }}
<div class="experiences">
    <h3>{{ $title }}</h3>
    {{ range . }}
        <a href="{{ .RelPermalink}}">
            <div class="experience">
                <h3 class="title">{{ .Title }}</h3>
                {{ with .Params.dateString -}}
                <h4 class="dateline">{{ . }}</h4>
                {{- end }}
                {{ with .Params.tags }}
                <div class="tags">
                    {{ range . }}
                        <p class="tag">{{ . }}</p>
                    {{ end }}
                </div>
            {{ end }}
            </div>
        </a>
    {{ end }}
    {{ if $.seeMore }}
        <a href="/work" class="button hollow">View All</a>
    {{ end }}
</div>
{{ end -}}