<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class='blog'>
        {%if page.hero %}
        {% include header-hero.html %}
        <style>.hero {background-image: url('{{ site.darkeningShim }}'), url('/images/{{ page.hero }}');}</style>
        {% else %}
        {% include header.html %}
        {% endif %}
        <article class="post">
            <p class='post-return'><a href='/blog'>&#8701; Blog</a></p>
            <h1 class='post-title'>{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class='post-subtitle'>{{ page.subtitle }}</h2>{% endif %}
            <h4>{% if page.author %}{{ page.author }} • {% endif page.author %}{{ page.date | date: "%b %-d, %Y" }}</h4>
            {{ content }}
        </article>
        {% include footer.html %}
        <!-- {% include parallaxJs.html %} -->
    </body>
</html>


<!-- EXPERIMENTAL TAGS FEATURE -->
<!-- {% if page.categories != nil %}
<p class='tag-separator'><span>#s</span></p>
<p class='tags'>
    {% for category in page.categories %}
    <span class='tag'>{{ category }}</span>
    {% endfor %}
</p>
{% endif %} -->
